@model task1.HttpReport
@using task1
@using System.Collections.Generic

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <table>

        @for (var i = 0; i < @Model.Statuses.Count; i++)
        {
            @*@Model.Statuses.Keys.ElementAt(i)*@

            <tr>
                <th>@Model.Statuses.Values.ElementAt(i) </th>
                <th> @Model.Statuses.Keys.ElementAt(i)</th>
            </tr>
            if (@Model.Reports.ContainsValue(@Model.Statuses.Keys.ElementAt(i)))
            {

                foreach (var item in @Model.Reports.Where(x => x.Value == @Model.Statuses.Keys.ElementAt(i)))
                {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
            }
        }

    </table>
</body>
</html>